@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input,
textarea,
select {
  @apply w-full border-2 py-2 px-1 rounded-lg;
}

label p {
  @apply mb-1;
}

.general-button {
  @apply rounded-full tracking-wider uppercase py-2 px-8 bg-button text-white w-fit;
}

.bg-button {
  @apply bg-[#7379FF];
}

.nav-link {
  @apply grid grid-cols-1;
}

.nav-link-border {
  @apply border-2 border-black p-2;
}
